@charset "utf-8";

/* fuentes */
@font-face {
    font-family: "fira sans regular";
    src: url(fonts/FiraSans-Regular.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "fira sans bold";
    src: url(fonts/FiraSans-Bold.ttf) format(truetype);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "fira sans italic";
    src: url(fonts/FiraSans-Italic.ttf) format(truetype);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "fira sans medium";
    src: url(fonts/FiraSans-Medium.ttf) format(truetype);
    font-weight: 500;
    font-style: normal;
}

/* configuraciones de fuentes */

h1 {
   font-family:'fira sans bold', sans-serif;
    color: #8a1f42;
    font-size: 6rem;
    white-space: nowrap;
}

h2 {
    font-family:'fira sans medium', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    line-height: 1.5rem;
}

h3 {
    font-family:'fira sans medium', sans-serif;
    color: #8a1f42;
    font-size: 1.8rem;
    line-height: 1rem;
}

h4 {
    font-family:'fira sans italic', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    line-height: 20px;
}

p {
    font-family:'Fira sans regular', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    text-wrap: balance;
    line-height: 1.8rem;
    max-width: 950px;
    margin:0px 0px 0px 40px;
}

/* aplicaciones */

body {
    background-color:#defaff;
    margin: 0px;
}

/* header */

nav {
    font-family: 'Fira sans regular', sans-serif;
    font-size: 1rem;
    margin: 0px;
    padding-top: 30px;
    display: flex;
    gap: 100px;
}

 nav a {
    color: #defaff;       
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    text-decoration-style: dotted;
}

.header-bar {
  background-color: #8a1f42;
  padding: 30px 0;
  width: 100%;
  display: flex;
  justify-content: center;    
}

/* main */

/* presentación */

.presentacion {
    display: flex;
    gap: 50px;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: center;
    padding: 80px 0px 0px 0px;
}

.texto {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.texto h1 {
    margin: 0px 0px 30px 0px;
}

.texto h2 {
    margin: 0px 0px 10px 0px;
}

/* informacion */

.contenido {
    display: flex;
    flex-direction: row;
    gap: 50px;
    max-width: 1500px;
    margin: 0 auto;
    padding: 80px 0px 80px 0px;
}

.contenido article {
    display: flex;
    flex-direction: column;
}

.contenido h3 {
    margin: 0px 0px 10px 0px;
}

.una-columna article h4 {
    margin: 5px 0px 5px 0px;
    line-height: 20px;
}

.contenido p {
    margin: 0 0 15px 0;
}

.dos-columnas {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

/* experiencia y educacion */

.empresa {
    font-style: italic;
    font-size: 1rem;
    margin: 15px 0px 5px 0px;
}

.titulo {
    margin: 30px 0px 10px 0px;
}

/* software e idiomas */

#software img {
    margin: 0px 0px 40px 0px;
}

#idiomas img {
    margin: 0px 0px 40px 0px;
}

.dos-columnas h4 {
    margin: 5px 0px 5px 0px;
    line-height: 20px;
}

/* footer */

.footer-bar {
  background-color: #8a1f42;
  padding: 50px 0px 0px 0px;            
  width: 100%;               
  text-align: center; 
}

footer img {
  border: transparent; 
  margin: 30px 0px 50px 0px;
}

.footer-bar h4 {
  color: #defaff; /* para que combine con el fondo */
  font-family: 'fira sans italic', sans-serif;
  margin: 0 auto;
}

/* comportamiento */

html {
  scroll-behavior: smooth;
}